.about {
    text-align: center;
    background-color: #FFC904;
    height: 100%;
    width: 100;
};

.section {
    margin: none;
    overflow: hidden;
}

.shell {
    width:80%;
    height: 100%;
    align-self: center;
    margin:auto;
}

.about-header {
    font-size: 5rem;
    text-align: center;
}

.about-description {
    color: black;
    font-size: 1.8rem;
    font-weight: bold
}

.list-span {
    font-weight: bold;
    font-size: 2rem;
}

