.slogan {
    position: relative;
    top: 30vh;
    margin: 0;
    font-size: 5rem;
    color: #fff;
};

.start {
    text-align: center;
    
    background-color: black;
    height: 100%;
    width: 100;
};

.section {
    margin: none;
    overflow: hidden;
}

.btn-warning {
    position: relative;
    top: 35vh;
    padding: .4rem 1.75rem;
    font-size: 2rem;
}

.title-span {
    color: #FFC904;
}

.slogan-span {
    color: #FFC904;
}

.nav-item {
    font-size: 1.5rem;
}

.brand {
    color: #fff;
}



